.footer {
  text-align: center;
  padding: 60px;
  background-color: #6d6d6d;
}

.footer a {
  font-size: 30px;
  color:  #a10f0f;

}

.footer p {
  color: #ffffff;
}

.footer .fas {
  color: #BF0F12;
}

.footer a:hover {
  color: #110f9f;
  transition-delay: linear 0.5s;
}
